.container{
    height: 650px;
    width: 100%;
    border: 2px solid red;
    display: flex;

    /* flex-direction: column-reverse; */
    /* flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse; */

    /*content adjust horizontal  */

   /*justify-content: space-evenly;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end; */

    /* vertically align */

    /* align-items: flex-start;
    align-items: center;
    align-items: flex-end; */

    /* justify-content: flex-end;
    align-items: flex-end; */

    /* flex-wrap: wrap-reverse;
    flex-wrap: wrap; */
    /* flex-wrap: nowrap; */

    /* flex direction and flex wrap short cut property */
    /* flex-flow:column wrap ; */
   
}
.item{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 2px solid green;
    /* margin: 10px;
    padding: 3px; */
}
#item-1,#item-3{
    /* flex-shrink: 3; */

    align-self: center;
}
/* #item-3{
    /* flex-shrink: 3;

    align-self: center;
}  */