@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  padding: 0;
  margin: 0;
}

.navbar {
  background-image: linear-gradient(blue, purple);
  display: flex;
  height: 25px;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

li {
  list-style: none;
  margin: 2px 5px;
}
li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: "Rubik", sans-serif;
}

.btn {
    background-color: aqua;
    border-radius: 20px;
    border: none;
    font-size: 7px;
    height: 15px;
    position: relative;
    top: 5px;
}


i.fa-brands.fa-facebook {
    color: white;
    position: relative;
    top: 12px;
    left: 6px;
}

i.fa-brands.fa-instagram.fa-2xs{
     position: relative;
    top: 12px;
    left: 9px;
}
i.fa-brands.fa-youtube.fa-2xs{
      position: relative;
    top: 12px;
    left: 15px;
}
.img {
    width: 20px;
    height: 20px;
    position: relative;
    right: 111px;
    top: 1px;
}